#reservation {
  padding-bottom: 180px;
  overflow: hidden;
}

#reservation .container {
  position: relative;
}

#reservation h5 {
  font-size: 29px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #3d3d3d;
  font-weight: 400;
  font-family: "Bebas Neue";
  margin-top: 39px;
  text-align: center;
  padding-bottom: 11px;
}

#reservation h2 {
  text-align: center;
  padding-bottom: 90px;
  letter-spacing: 3px;
}

.reservation-content {
  margin: 0 auto;
  padding-top: 40px;
}

.burger-reserve-one {
  position: absolute;
  top: -40px;
  left: -140px;
  max-width: 400px;
}

.burger-reserve-two {
  position: absolute;
  top: 220px;
  right: -300px;
  max-width: 560px;
}

.form-wrapper {
  position: relative;
  width: 100%;
}

.bottle-image {
  position: absolute;
  top: -80px;
  left: -230px;
}

.reservation-content form {
  max-width: 784px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  box-sizing: border-box;
  gap: 27px;
}

.reservation-content input[type="text"]::placeholder {
  font-size: 21px;
  line-height: 46px;
  color: #3d3d3d;
  font-weight: 400;
  font-family: "Bebas Neue";
}

.reservation-content input[type="text"] {
  flex: 1 1 33%;
  padding: 18px 10px 16px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #bebebe;
  font-size: 21px;
  color: #3d3d3d;
  font-family: "Bebas Neue";
}

.reservation-content input[type="email"] {
  flex: 1 1 33%;
  padding: 10px 10px 10px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #bebebe;
  font-size: 21px;
  color: #3d3d3d;
  font-family: "Bebas Neue";
}

.reservation-content input[type="submit"] {
  flex: 1 1 33%;
  border: none;
  font-size: 21px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-family: "Alfa Slab One";
  background-color: #bf2222;
  border-radius: 5px;
  cursor: pointer;
}
