#section-three {
  background-color: #ffeedc;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
}

#section-three .fruit-one {
  position: absolute;
  top: 53px;
  left: 80px;
  overflow: hidden;
}

#section-three .burger-shape {
  position: absolute;
  top: 40px;
  right: -60px;
}

#section-three .pizza-shape-two {
  position: absolute;
  bottom: 10px;
  right: 126px;
}

.section-three-content {
  display: flex;
  gap: 95px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.section-three-content p {
  max-width: 535px;
  font-size: 14px;
  color: #1a1a1a;
  font-weight: 400;
  font-family: "Montserrat";
  margin-top: 36px;
}

.section-three-content h1 {
  font-size: 53px;
  color: #1b6ec7;
  font-weight: 700;
  font-family: "Aleo";
  text-align: left;
  margin-left: 10px;
  text-transform: capitalize;
}

.section-three-content img {
  border-radius: 50%;
}
