.header {
  text-align: center;
  text-transform: capitalize;
}

.data-header {
  max-width: 800px;
  border-radius: 18px;
  margin: 0 auto;
  transform: translate(0, 0);
  background-color: rgb(17, 17, 17);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  color: chocolate;
  padding-left: 40px;
  padding-right: 40px;
}

.data-header button {
  border: none;
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
  margin-bottom: 10px;
  background-color: chocolate;
  color: black;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.file-exercise {
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(17, 17, 17);
  color: beige;
}

.file-exercise {
  margin: 0 auto;
}

.title {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}

.title-items {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.results {
  display: flex;
  flex-direction: row;
}
