@import url("./css-resset.css");
@import url("./header.css");
@import url("./tabs.css");
@import url("./sublist.css");
@import url("./standard.css");
@import url("./why.css");
@import url("./pricing.css");
@import url("./testimonials.css");
@import url("./stylish.css");
@import url("./contact.css");
@import url("./footer.css");

.container {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
}

.btn-default {
  border: none;
  font-size: 15px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Open Sans";
  padding: 10px 30px 10px 30px;
  cursor: pointer;
}

.btn-transperant {
  background: none;
  border: 3px solid white;
}

.btn-orange {
  background-color: #ff8b38;
  border-radius: 4px;
}

h3 {
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  font-family: "Open Sans";
}
