#standard {
  background-color: #f5f5f5;
  padding-top: 90px;
  padding-top: 107px;
}

#standard .container {
  justify-content: space-between;
}

.standard-left p {
  font-size: 14px;
  line-height: 20px;
  color: #86878b;
  font-weight: 400;
  font-family: "Open Sans";
  max-width: 475px;
  padding-top: 30px;
}

.standard-left h3 {
  position: relative;
  padding-bottom: 58px;
}

.standard-left h3::after {
  content: "";
  position: absolute;
  background-color: #ff8b38;
  top: 65px;
  left: 0;
  width: 64px;
  height: 3px;
}
