@import url("./css-reset.css");
@import url("./header.css");
@import url("./items.css");
@import url("./moreinfo.css");
@import url("./discount.css");
@import url("./pizza.css");
@import url("./information.css");
@import url("./subscribe.css");
@import url("./footer.css");

.container {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 44px 10px 50px 10px;
}

.btn-dark-more {
  background-color: #343434;
  border: none;
  border-radius: 35px;
  padding: 25px 60px 25px 60px;
  cursor: pointer;
  font-size: 23px;
  letter-spacing: 5px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 800;
  font-family: "Open Sans";
  margin: 0 auto;
}

@media screen and (max-width: 1152px) {
  .header-content {
    flex-direction: column;
  }
}
