#items {
  padding: 90px 0 6px 0;
}

#items h2 {
  font-size: 75px;
  color: #222328;
  font-family: "Reey";
  text-align: center;
}

#items h4 {
  font-size: 27px;
  color: #2f3135;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
  max-width: 700px;
  margin: 80px auto 0 auto;
}

.items-wrapper {
  flex: 1 1 auto;
  margin-top: 92px;
}

.items h3 {
  font-size: 29px;
  color: #343434;
  font-weight: 700;
  font-family: "Open Sans";
  margin-left: 40px;
  margin-bottom: 26px;
}

.items p {
  font-size: 23px;
  color: #343434;
  font-weight: 400;
  font-family: "Open Sans";
  max-width: 303px;
  padding-bottom: 120px;
  margin-left: 40px;
  line-height: 28px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.items img {
  text-align: left;
  height: 372px;
}
